<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="new_title">
    <textarea name="content" id="" cols="30" rows="10"></textarea><br>
    <button type="submit">Create new post!</button>
</form>
<hr>
    <h1>Get posts!</h1>
    {% for post in post_list %}
        <h1>{{post.title}}</h1>
        <h3>{{post.created_at}}</h3>
        <p>{{post.content}}</p>
    {% empty %}
    <h1>Пусто</h1>
    {% endfor %}
</body>
</html>