<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>{{post.title}}</h1>
    <h3>{{post.created_at}}</h3>
    <p>{{post.content}}</p>
</div>
</body>
</html>